/* ROOT */
:root {
    --primary-color: #22A0E7;
    --light-primary-color: #bbd5ed;
    --white: #FFFFFF;
    --black: #000000;
    --dark-bg-text: #333333;
    --light-bg-text: #EEEEEE;
    --primary-color-1: hsl(242, 120%, 92%);
    --primary-color-2: hsl(232, 110%, 82%);
    --primary-color-3: hsl(222, 100%, 72%);
    --primary-color-4: hsl(212, 90%, 62%);
    --primary-color-5: hsl(202, 80%, 52%);
    --primary-color-6: hsl(212, 90%, 62%);
    --primary-color-7: hsl(222, 100%, 72%);
    --primary-color-8: hsl(232, 110%, 82%);
    --primary-color-9: hsl(242, 120%, 92%);

}

/* BODY */
body {
    overflow-x: hidden;
    color: var(--dark-bg-text);
    background: var(--white);
    /*background: linear-gradient(to bottom, #1C1C1C, #333333);*/
    /* background-image: url('https://hikalproperties.com/projects/assets/images/bg/bg-003.jpg'); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #EEE;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom right, var(--primary-color-2) 0%, var(--primary-color-4) 50%, var(--primary-color-6) 77%, var(--primary-color-8) 88%, var(--primary-color) 100%);
    border-radius: 10px;
}

/* SCREENS ON DESKTOP VIEW */
.desktop {
    display: block;
}

.mobile {
    display: none;
}

/* HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 15px 0px;
}

h1 {
    font-size: 1.8rem;
}

h3,
h4 {
    font-weight: bold;
}

h6 {
    font-weight: 200;
    line-height: 2rem;
}

/* ARABIC  */
.arabic {
    direction: rtl;
    font-family: 'Noto Kufi Arabic', sans-serif;
    text-align: right;
    font-size: small;
}

/* ENGLISH */
.english {
    font-family: 'Raleway', sans-serif;
    font-size: small;
}

/*HEBREW*/
.hebrew {
    font-family: 'Noto Sans Hebrew', sans-serif;
    text-align: right;
}


.text-primary {
    color: var(--primary-color);
    font-weight: 600;
}

/* SCROLL TO TOP BUTTON */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    border: none;
    box-shadow: none;
}


/* WHATSAPP BUTTON */
#whatsappBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 1001;
    font-size: 30px;
    color: #25d366;
    font-weight: bold;
    cursor: pointer;
    border: none;
    box-shadow: none;
}

#whatsappBtn:hover {
    position: fixed;
    color: #d4a556;
}

.header_section {
    /* background-color: #22a0e7; */
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* box-shadow: 0px 15px 10px -15px #CCCCCC; */
    ;
}

.language_selection {
    width: auto;
    margin: 5px;
    padding: 3px;
    background-color: var(--primary-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    /* box-shadow: 2px 10px 5px -8px #CCCCCC; */
    box-shadow: 0 0 10px 2px #CCCCCC;
}

.lang-flag {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.next-language {
    font-family: 'Raleway', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: medium;
    color: var(--white);
}

.heading_section {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.main-img {
    width: 90%;
    /* box-shadow: 0px 15px 10px -15px #CCCCCC; */
    box-shadow: 0 0 10px 2px #CCCCCC;
    border-radius: 10px;
}

.highlight-box {
    width: 90%;
    /* border: 1px solid var(--primary-color); */
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* TEXT GRADIENT AND ANIMATION */
.primary-grad {
    background-image: linear-gradient(to bottom right, var(--primary-color) 0%, var(--primary-color-1) 10%, var(--primary-color-2) 20%, var(--primary-color-3) 30%, var(--primary-color-4) 40%, var(--primary-color-5) 50%, var(--primary-color-6) 60%, var(--primary-color-7) 70%, var(--primary-color-8) 80%, var(--primary-color-9) 90%, var(--primary-color) 100%);
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
    font-weight: 600;
}

.primary-grad-anim {
    background-image: repeating-linear-gradient(to right, var(--primary-color) 0%, var(--primary-color-1) 10%, var(--primary-color-2) 20%, var(--primary-color-3) 30%, var(--primary-color-4) 40%, var(--primary-color-5) 50%, var(--primary-color-6) 60%, var(--primary-color-7) 70%, var(--primary-color-8) 80%, var(--primary-color-9) 90%, var(--primary-color) 100%);
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
    animation: MoveBackgroundPosition 4s ease-in-out infinite;
}

@keyframes MoveBackgroundPosition {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* NUMBER GLOW */
.num-glow {
    -webkit-background-clip: text;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E1NGUwNyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmVmMWEyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYmM4ODFiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, var(--primary-color-3)), color-stop(50%, var(--primary-color-5)), color-stop(100%, var(--primary-color-7)));
    background-image: -moz-linear-gradient(top, var(--primary-color-3) 0%, var(--primary-color-5) 50%, var(--primary-color-7) 100%);
    background-image: -webkit-linear-gradient(top, var(--primary-color-3) 0%, var(--primary-color-5) 50%, var(--primary-color-7) 100%);
    background-image: linear-gradient(to bottom, var(--primary-color-3) 0%, var(--primary-color-5) 50%, var(--primary-color-7) 100%);
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    text-stroke: 0.5rem white;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    animation: num-glow 4s ease-out infinite alternate;
}

@keyframes num-glow {
    0% {
        text-shadow: 0 0px 5px rgba(255, 255, 255, 1);
    }

    50% {
        text-shadow: 0px 0px var(--primary-color);
    }

    100% {
        text-shadow: 0 0px 5px rgba(255, 255, 255, 1);
    }
}

/* TEXT GLOW */
.text-glow {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2.2rem;
    animation: neon 2s ease-in-out infinite alternate;
}

@keyframes neon {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #007bff, 0 0 15px #fff, 0 0 20px #007bff, 0 0 35px #4da6ff, 0 0 40px #c0e4ff, 0 0 50px #4da6ff, 0 0 75px #007bff;
    }

    to {
        text-shadow: 0 0 2.5px #007bff, 0 0 5px #fff, 0 0 7.5px #4da6ff, 0 0 10px #007bff, 0 0 17.5px #4da6ff, 0 0 20px #c0e4ff, 0 0 25px #4da6ff, 0 0 37.5px #007bff;
    }
}

/* TEXT EXPAND */
.text-expand {
    width: 100%;
    -webkit-background-clip: text;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E1NGUwNyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmVmMWEyIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYmM4ODFiIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, var(--primary-color-3)), color-stop(50%, var(--primary-color-5)), color-stop(100%, var(--primary-color-7)));
    background-image: -moz-linear-gradient(top, var(--primary-color-3) 0%, var(--primary-color-5) 50%, var(--primary-color-7) 100%);
    background-image: -webkit-linear-gradient(top, var(--primary-color-3) 0%, var(--primary-color-5) 50%, var(--primary-color-7) 100%);
    background-image: linear-gradient(to bottom, var(--primary-color-3) 0%, var(--primary-color-5) 50%, var(--primary-color-7) 100%);
    text-stroke: 0.5rem white;
    -webkit-text-fill-color: transparent;
    animation: textExpand 10s infinite;
    font-weight: bold;
    text-shadow: 0 2px 10px rgba(255, 255, 255, 1);
}

@keyframes textExpand {
    0% {
        transform: scale(1);
        transform-origin: top center;
    }

    50% {
        transform: scale(1.1);
        transform-origin: top center;
    }

    100% {
        transform: scale(1);
        transform-origin: top center;
    }
}

/* FORM */
.form-container {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    box-shadow: 0 0 10px 2px #CCCCCC;
    border-radius: 10px;
}

/* INPUT FIELDS & LABELS */
input,
textarea {
    caret-color: #AAAAAA;
    width: 100%;
}

label,
input,
button,
textarea {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    color: var(--primary-color);
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}

input::placeholder {
    color: #333333;
    font-size: small;
}

input[type=text] {
    background: var(--light-primary-color);
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 11px;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px 3px 3px white;
    margin-bottom: 3px;
}

input[type=time] {
    background: var(--light-primary-color);
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 11px;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px 3px 3px white;
    margin-bottom: 3px;
    width: 100%;
}

input[type=email] {
    background: var(--light-primary-color);
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 11px;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px 3px 3px white;
    margin-bottom: 3px;
}

input[type=tel] {
    background: var(--light-primary-color);
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 11px;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px 3px 3px white;
    margin-bottom: 3px;
}

input[type=datetime-local] {
    background: var(--light-primary-color);
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 11px;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px 3px 3px white;
    margin-bottom: 3px;
}

textarea {
    background: var(--light-primary-color);
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 11px;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px 3px 3px white;
}

/*DROPDOWN*/
select {
    background: var(--light-primary-color);
    padding: 7px 11px;
    border-radius: 11px;
    box-shadow: inset 3px 3px 3px #cbced1, inset -3px 3px 3px white;
    margin-bottom: 3px;
    border: none;
    width: 100%;
}


/* BUTTONS */
button {
    margin: 20px 0px 0px 0px;
    display: inline-block;
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
    border: none;
    border-radius: .3em;
    /*height: 2.75em;*/
    line-height: 2.5em;
    text-transform: uppercase;
    padding: 0 1em;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(110, 80, 20, .4),
        inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
        inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
    border: 1px solid #a55d07; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(34, 160, 231, .4);
    background-image: linear-gradient(160deg, #1a89e7, #22a0e7, #79c2f7, #2dabe7, #1a89e7);
    border: 1px solid #1a89e7;
    color: va(--black);
    text-shadow: 0 2px 2px rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    font-weight: bold;
}

button:hover {
    background-size: 150% 150%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
        inset 0 -2px 5px 1px rgba(34, 160, 231, 0.7), inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
    border: 1px solid rgba(34, 160, 231, 0.6);
    color: rgba(120, 50, 5, 0.8);
}

/*COUNTRY DROPDOWN */
.iti {
    width: 100% !important;
    color: #000 !important;
}

.iti--container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10%;
    background: rgba(238, 238, 238, 0.7);
}

.iti__country-list {
    background-color: rgba(238, 238, 238, 0.7);
    padding: 10px;
    min-width: 30% !important;
    max-width: 90% !important;
    max-height: 90% !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iti__country {
    direction: ltr;
    padding: 5px 10px !important;
    background-color: white !important;
    border-radius: 5px !important;
    margin: 5px !important;
    color: #333333;
    box-shadow: 0px 1px 4px rgba(38, 38, 38, 0.4);

}

.iti-mobile .iti--container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10%;
    background: rgba(238, 238, 238, 0.7);
}

.iti-mobile .iti__country-list {
    max-height: 90% !important;
    min-width: 30% !important;
    max-width: 90% !important;
}

/* TABLET AND MOBILE */
@media screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    h1 {
        font-size: 1.1rem;
    }

    .text-glow {
        font-size: 1.4rem;
    }

    .num-glow {
        font-size: 1.5rem;
    }
}
