#parallax .title {
    background: transparent;
    padding: 5px 5%;
    margin: 0 auto;
    text-align: center;
}

#parallax .parallax-1,
#parallax .parallax-2,
#parallax .parallax-3,
#parallax .parallax-4,
#parallax .parallax-5 {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 60vh;
}
